body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; 
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #4682B4; 
}

section {
    padding: 60px 20px;
    text-align: center;
}

#home {
    background: url('laptop.jpg') center/cover; 
    color: #fff; 
}

#about {
    background-color: #fff;
    color: #333;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.profile-image img {
    max-width: 100%;
    border-radius: 8px;
}

.about-description {
    flex: 1;
    max-width: 600px;
}

.about-description p {
    text-align: justify;
}

#portfolio {
    background-color: #f8f8f8;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.project-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px; 
    border-radius: 8px;
    flex: 1; 
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    max-height: 200px;
}

.project-card h3,
.project-card p {
    text-align: center;
}

.contacts {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin-bottom: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 0.7rem;
}


@media (max-width: 768px) {
    .contacts {
        padding: 20px 10px;
    }

    nav a {
        margin: 10px 0;
    }
}
